


#carousel-wrap .item{
  background: #fff;
  border-right: 1px solid rgb(245, 247, 247);
}



#section2 {
    padding: 30px 0 50px;
    background-color: rgb(245, 247, 247);
}


.card {
    cursor: pointer;
}
.card-img:after, .card-img:before {
    width: 100%;
    content: "";
    display: block;
    background-color: rgba(68, 188, 188, 0.3);
    position: absolute;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 10;
    height: 0;
}

.card-img:before {
    top: -100%;
    left: -100%;
}
.card-img:after {
    right: -100%;
    bottom: -100%;
}

.card:hover .card-img:before {
    top: 0;
    left: 0;
    height: 100%;
}
.card:hover .card-img:after {
    right: 0;
    bottom: 0;
    height: 100%;
}


.card-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    .time {
        width: 33%;
        position: absolute;
        left: 50%;
        bottom: -1em;
        background-color: #fff;
        color: #666;
        text-align: center;
        padding: 0.8em 0;
        margin-left: -16.5%;
    }
}

.card:hover .card-img2 .text {
    opacity: 1;
    transform: scale(1.2);
}
.card-img2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .text {
        color: #fff;
        font-size: 16px;
        opacity: 0;
        transition: all 0.4s;
        transform: scale(1);
    }
}

.card-block {
    padding:1em;
}

.card-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}

.more-btn {
    margin: 21px;
    padding: 8px 52px;
    background-color: transparent;
    border: 1px dashed #999;
}

#section4 {
    padding: 30px 0 50px;
}

#section2 .card-img {
    height: 167px;
}
#section4 .card-img2 {
    height: 190px;
}
